@model OrdersCustomerView

@{
    ViewData["Title"] = "Details";
}

<h1>Show</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customer.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customer.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customer.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customer.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customer.Phonenumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customer.Phonenumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customer.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customer.Notes)
        </dd>
    </dl>
    <div>
        <ul>
            <h5>@Model.customer.Firstname All orders</h5>
            @foreach (var order in Model.AllOrders)
            {
                <li>@order.Title</li><li>@order.Price kr</li>
            }

        </ul>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
